#container {
  background-color: pink;
  position: absolute;
  top: 100px;
  width: 1000px;
  height: 1000px;
}

#capa1 {
  position: absolute;
  top: 100px; /*esta a 100px de el punto 0.*/
  left: 100px;
  width: 50px;
  height: 50px;
  background-color: blue;
}

#capa2 {
  position: absolute;
  bottom: 150px;
  right: 400px;
  width: 50px;
  height: 50px;
  background-color: red;
}

#capa3 {
  position: absolute;
  top: 0px; /*esta capa esta en el punto 0.0 del contenedor, si yo el contenedor lo muevo, esa capa va a continuar en el punto 0.0 del contenedor*/
  left: 0px;
  width: 50px;
  height: 50px;
  background-color: green;
}
