#capa1 {
  position: relative;
  top: 10px;
  left: 80px;
  width: 50px;
  height: 50px;
  background-color: blue;
}

#capa2 {
  position: relative;
  top: 150px;
  left: 0px;
  width: 50px;
  height: 50px;
  background-color: red;
}

#capa3 {
  position: relative;
  top: 0px;
  left: 50px;
  width: 50px;
  height: 50px;
  background-color: green;
}
/*el punto de origen o la coordenada 0.0, es diferente para cada elemnto. sería como el punto de la parte superior izquierda de cada elemento. */
