* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
  }
  
  :root {
    --color-texto-menu: #4a4a4a;
    --color-fondo: #3cdbc0;
    --color-diversidad: #ffffff;
  }
  
  /*HEADER*/
  .header {
    background-color: var(--color-diversidad);
    width: 100%;
    position: fixed; /*mantiene el espacio del main, cuidado al poner sticky que puede hacer roll la página*/
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .icon {
    width: 155px;
    height: auto;
    margin-top: 10px;
  }
  
  .list {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 13px;
    list-style: none;
  }
  a.link {
    color: var(--color-texto-menu);
    font-family: var(--font-family);
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  /*MAIN*/
  
  .main {
    height: 100vh;
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .h1 {
    font-size: 30px;
    color: var(--color-diversidad);
    /*width: 150px;*/
    width: 11ch; /*En vez de poner width: 150px, puedo poner width=11ch, cada ch ocupa más o menos el espacio de una letra*/
    text-align: center;
    font-family: var(--font-family);
    text-transform: capitalize;
  }
  
  /*TABLET VERION*/
  
  @media all and (min-width: 768px) {
    .header {
      flex-direction: row;
      justify-content: space-between;
    }
    .h1 {
      font-size: 40px;
    }
    .icon {
      margin: 20px 0px 20px 30px;
    }
    .list {
      margin: 0px 30px 0px 0px;
    }
  }
  