.body {
  background-color: beige;
}

.h1 {
  size: 12px;
}

.container {
  display: flex;
  box-sizing: border-box;
  border: 2px solid blue;
  background-color: rgb(171, 233, 233);
  flex-wrap: wrap;
}

.item {
  border: 1px solid rgb(226, 143, 34);
  height: 100px;
  width: 200px;
}
