.body {
  background-color: beige;
}

.h1 {
  size: 12px;
}

.container {
  display: flexbox;
  box-sizing: border-box;
  border: 2px solid blue;
  background-color: rgb(207, 245, 245);
}

.item {
  box-sizing: border-box;
  border: 1px solid burlywood;
  height: 100px;
  width: 200px;
  flex-wrap: ;
}
