.div {
  width: 100px;
  height: 100px;
}

.images {
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 5px;
  border-style: solid;
  border-color: blue;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
