* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
  }
  
  :root {
    --color-texto-menu: #4a4a4a;
    --color-fondo: #3cdbc0;
    --color-diversidad: #ffffff;
  }
  